@font-face {
    font-family: Title;
    src: url(./Font/CELTG___.TTF);
}
@font-face {
    font-family: Sub;
    src: url(./Font/WrathStyles.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    border: none;
    padding: 0;
    overflow: hidden hidden;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
}
body img{
    position: absolute;
    bottom: 0;
    left: 60%;
    
    width: 20vw;
}
body main{
    margin: 20px 40px;
}
body main div#title h1{
    font-size: 90px;
    font-family: 'Title', 'san-serif';

    letter-spacing: 6px;
}
body main div#title h2{
    font-size: 30px;
    font-family: 'Sub', 'san-serif';

    letter-spacing: 4px;
}